# Postgres Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=app_database

# pgAdmin Configuration
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin_secret_password

# Host Paths (Optional: You can change where data is stored on your machine)
KAFKA_DATA_PATH=./data/kafka
POSTGRES_DATA_PATH=./data/postgres
PGADMIN_DATA_PATH=./data/pgadmin